/* styles.css */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.form-container, .result-container {
    padding: 20px;
}

.form-container {
    border-bottom: 1px solid #ddd;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.emoji {
    font-size: 36px;
}

.sentiment {
    font-size: 24px;
    margin-top: 10px;
    color: #3498db;
}

/* Add more styles as needed */
